[*.cs]

# CA1031: No capture tipos de excepción generales.
dotnet_diagnostic.CA1031.severity = none

# CA1305: Especificar IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1303: No pasar cadenas literal como parámetros localizados
dotnet_diagnostic.CA1303.severity = none

# CA1820: Probar si las cadenas están vacías mediante la longitud de cadena
dotnet_diagnostic.CA1820.severity = none

# CA1707: Quite los caracteres de subrayado del nombre “OIT_Sernatur” de espacio de nombres.
dotnet_diagnostic.CA1707.severity = none

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = none

# CA1824: Marcar ensamblados con NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = none

# AD0001: Error del analizador
dotnet_diagnostic.AD0001.severity = none

# CA3075: Procesamiento de DTD no seguro en XML
dotnet_diagnostic.CA3075.severity = none
