<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Oauth2.v2" version="1.42.0.1602" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.42.0.1786" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>

<!--
/*______________________________________________________________
 * Programa “SOFIA” Diseñado para Sernatur
 * 
 * Programador: Oliver Osvaldo Consterla Araya
 * Correo: Oliver_Consterla@Yahoo.cl
 * Numero movil: +56 9 87612427
 * 
 * Programa diseñado con fines de facilitar y ayudar
 * a la automatización de la atención a turista
 * y el cálculo estadísticos que estos pueden conllevar.
 _______________________________________________________________*/
 -->

